<div class="container">
  <div class="container-fluid" align="center">
    <h1 align="center" style="padding-top: 30px"> Hey Big Spender,</h1>
    <p align="center"> Buy your class books from previous classmates here.</p>

    <div align="center" class="InputField">
      <p> Course Section: <br> <input placeholder="csc360" type="text"></p>
      <p> ISBN: <br> <input placeholder="9635474523241" type="text"></p>
    </div>

    <p align="center"><input onclick="" type="button" value="Search"></p>
  </div>
</div>
